extends ../shared/template
block content
  h1 Hangman

  label Enter a Name
    input#name(type='text')

  button#newGame Setup

  #startContainer
    #id

    #wordLength

    p
    p
      label Start the game
        button#start Start

    #wordContainer

    p
    p
    p
      input#letter(type='text' length=1 size=1)


    p  *You have 60 seconds to finish. Press start when you are ready.


    input#countdown(type='text' length=2 size=2 disabled)

  p
    #prevGueses
